div.App div.export button.btn-primary {
  margin: 10px;
}

div.table-responsive {
  overflow-x: scroll;
  width: 95%;
  border: 5px solid #ccc;
  margin: 0 auto;
}

div.App div div.table-responsive Table.table-striped {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-bottom:5px solid #ccc;
}

div.App div div.table-responsive Table.table-striped thead tr th {
  border: 2px solid #ccc;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  text-align: left;
  padding: 7px 9px;
}

div.App div div.table-responsive Table.table-striped tbody tr td {
  border: 2px solid #ccc;
  color: #000;
  text-align: left;
  padding: 7px 9px;
  white-space: nowrap;
}

html, body, #root, .App, .mapContainer {
    width: 100%;
    height: 100%;
}

body, .mapContainer {
  overflow: hidden;
}

#root,
.pageContainer,
.side {
  overflow: auto;
}

.pageContainer {
  margin: auto;
  max-width: 900px;
  min-width: 320px;
  background: none;
  height: auto;
  min-height: 100% !important;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mapContainer {
  display: flex;
  flex-wrap: wrap-reverse;
}

.side {
  width: 500px;
  height: 100%;
}

.map {
  position: relative;
  flex-grow: 1;
  height: 100%;
}

.login {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.rootLogin {
    overflow-y: scroll;
    overflow-x: auto;
}


.form-NewSurvey {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;

}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type='email'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type='password'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media screen and (max-width: 1000px) {
  .mapContainer {
    overflow: auto;
  }

  .side,
  .map {
    width: 100%;
  }

  .map {
    height: 55%;
  }

  .side {
    height: 45%;
    overflow: initial;
  }
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

:root {
  --jumbotron-padding-y: 3rem;
}
